<!DOCTYPE html>
<html>
<head>
    <title>Markers</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #data{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            height: 10%;
        }
        #map{
            height: 90%;
        }
    </style>
</head>

<body>
    <div id="data">
        <div>Maximum speed: <%=maxSpeed.toFixed(2)%> Km/hr</div>
        <div>Average speed: <%=avgSpeed.toFixed(2)%> Km/hr</div>
        <div>Total distance: <%=totalDistance.toFixed(2)%> Km</div>
        <div>Total moving time: <%=totalMovingTime.toFixed(2)%> hrs</div>
        <div>Elevation gained: <%=elevationGained%> unit</div>
    </div>
    <div class="row" id="map"></div>

    <script>
        let maxSpeed = '<%= maxSpeed%>',
            avgSpeed = '<%= avgSpeed%>',
            totalDistance = '<%= totalDistance%>',
            totalMovingTime = '<%= totalMovingTime%>',
            elevationGained = '<%= elevationGained%>',
            locations = <%- JSON.stringify(locations) %>;
            
        function initMap() {
            let map = new google.maps.Map(document.getElementById('map'), {
                zoom: 11,
                center: {
                    lat: locations[0].lat * 1, 
                    lng: locations[0].lon * 1
                }
            });

            for (let i = 0; i < locations.length; i++) {
                let latLng = new google.maps.LatLng(locations[i].lat * 1, locations[i].lon * 1);
                new google.maps.Marker({
                    position: latLng,
                    map: map,
                    title: (i+1)+""
                });
            }
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB77nPp-KMfZPuCldB8k7GZTFe5hFcnGiU&callback=initMap"></script>
</body>
</html>

<%# swagnik07: AIzaSyDkhfLkWIzki5Q4PBmeYOEAoKCgY4I8wgc %>
<%# swagnikd: AIzaSyB77nPp-KMfZPuCldB8k7GZTFe5hFcnGiU %>